################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/LSR_Updates/v17/.wsuo
