################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/LSR_Updates/v17/.wsuo
/.vs/LSR_Updates/FileContentIndex/f48c569a-609a-416c-99b5-6e379643e621.vsidx
